* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



.service:hover{
    background-color: rgb(226, 39, 126);
    cursor: pointer;
}
header {
    background-color: #333333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover{
    text-decoration: none;
    color: rgba( 226, 39, 126);}

.main {
    padding: 20px 0;
}

.hero {
    background-color: #eb4cae;
    padding: 50px 0;
    text-align: center;
}

.services {
    padding: 50px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.service {
    background-color: #363835;
    color :#fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}